{{!==========PRODUCT-EDIT=========================}}
<h1>Редагування товару</h1>
<section class='card'>

  <p class='form__title'>Інформація про товар</p>
  <form method='POST' action='/product-edit'>
    <div class='edit'>
      <div class='edit__block'>
        <div class='edit__field'>
          <label for='name' class='form__label'>Нова назва
            товару</label>
          <input
            type='name'
            name='name'
            class='form__input'
            value='{{name}}'
          />
        </div>
        <div class='edit__field'>
          <label for='price' class='form__label'>Нова ціна</label>
          <input
            type='price'
            name='price'
            class='form__input'
            value='{{price}}'
          />
        </div>

        <div class='edit__field'>
          <label for='id' class='form__label'>ID</label>
          <input
            type='id'
            name='id'
            class='form__input'
            value='{{id}}'
          />
        </div>
      </div>

      <div class='edit__field'>
        <label for='description' class='form__label'>Новий
          короткий опис</label>
        <input
          type='description'
          name='description'
          class='form__input'
        />
        <div class='form-text'>Відображується у картці
          товару</div>
      </div>
      <div class='edit__button'>
        <a
          class='btn-primary'
          href='/product-list?name={{name}},price={{price}} '
        >Зберегти оновлення</a>
        <a
          class='btn-warning'
          href='/product-delete?id={{id}}'
        >Видалити товар</a>
      </div>
    </div>
  </form>
</section>